@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Cabecalho */

body {
    font-family: "Poppins", sans-serif;
}

.cabecalho {
    background-color: #ff914d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.cabecalho_conteudo {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_conteudo_sair {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

.cabecalho_conteudo_textarea {
    background-color: #ff914d;
    border: 2px solid #fff;
    border-radius: 16px;
    height: 50%;
    color: #fff;
    resize: none;
}

.cabecalho_conteudo_perfil_escritos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho_conteudo_perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.cabecalho_conteudo_perfil_texto {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
}

.cabecalho_conteudo_perfil_nomeusuario {
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
}

.cabecalho_pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 5px;
}

/* Botão de cadastrar tarefa */
.conteudo_cadastrartarefa {
    cursor: pointer;
}

/* Tabela de listagem de tarefas */
.conteudo_tabela_titulo {
    font-weight: 600;
    padding-left: 8px;
}

.conteudo_tabela_titulo:nth-child(4) {
    text-align: center;
    font-weight: 600;
}

.conteudo_tabela_linha {
    overflow: hidden;
}

.conteudo_tabela_celula {
    padding: 1rem 1rem 1rem 5px;
    border: 4px solid #737373;
}

.conteudo_tabela_celula:nth-child(4) {
    text-align: center;
}

.conteudo_tabela_celula a {
    margin-left: 5px;
    margin-right: 5px;
}

/* Formatação da tabela */
table {
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: -10px;
}

tbody td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

tbody td:nth-child(2) {
    border-left: none;
    border-right: none;
}

tbody td:nth-child(3) {
    border-left: none;
    border-right: none;
}

tbody td:last-child {
    width: 300px;
    border-right-style: solid;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left: none;
}

.conteudo_containertarefa_titulo_media {
    display: none;
    white-space: nowrap;
    text-align: center;
    font-weight: 600;
}

.conteudo_containertarefa_linha_acoes_botoes {
    text-decoration: none;
    color: #ff914d;
    font-weight: 600;
}

.conteudo_containertarefa_linha_acoes_botoes:hover {
    text-decoration: none;
    color: #ed752a;
}

@media (max-width: 767px) {
    .cabecalho_pesquisa {
        display: none;
    }

    .cabecalho_conteudo {
        flex-direction: row-reverse;
    }

    .cabecalho_conteudo_perfil {
        flex-direction: row-reverse;
    }

    .conteudo_containertarefa_titulo_media {
        display: block;
    }

    .conteudo_tabela_cabecalho {
        display: none;
    }

    .conteudo_tabela_linha {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .conteudo_tabela_celula {
        padding: 5px 5px;
    }

    /**
    Primenteira linha da tabela
    */
    tbody td:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom: none;
        border-right: 4px solid #737373;
    }

    /**
    Segundo linha da tabela
    */
    tbody td:nth-child(2) {
        border-top: none;
        border-left: 4px solid #737373;
        border-right: 4px solid #737373;
        border-bottom: none;
    }

    /**
    Terceiro linha da tabela
    */
    tbody td:nth-child(3) {
        border-top: none;
        border-left: 4px solid #737373;
        border-right: 4px solid #737373;
        border-bottom: none;
    }

    /**
    Quarto linha da tabela
    */
    tbody td:last-child {
        width: 300px;
        border-top: none;
        border-left: 4px solid #737373;
        border-right: 4px solid #737373;
        border-bottom-left-radius: 10px;
        border-bottom: 4px solid #737373;
        border-top-right-radius: 0px;
        width: 100%;
    }
}
