.corpo_pagina {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabecalho {
    background-color: #ff914d;
    height: 15vh;
}

.conteudo {
    height: 70vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_formatada {
    width: 300px;
}

.conteudo_subtitulo {
    font-weight: 700;
    width: 20%;
    text-align: center;
}

.btn_formatado {
    background-color: #ff914d;
    padding: 10px 2em;
    margin-top: 1em;
    font-weight: 800;
    color: #FFF;
    font-size: 1.2em;
}

.btn_formatado:hover {
    background-color: #ed752a;
    color: #FFF;
}

.btn_formatado_nao {
    background-color: #FFF;
    border: 1px solid #737373;
    padding: 10px 2em;
    margin-top: 1em;
    font-weight: 800;
    color: #737373;
    font-size: 1.2em;
}

.btn_formatado_nao:hover {
    background-color: #737373;
    color: #FFF;
}

.rodape {
    background-color: #ff914d;
    height: 15vh;
}

@media (max-width: 1220px) {
    .conteudo_subtitulo {
        width: 25%;
    }
}

@media (max-width: 992px) { 
    .rodape {
        display: none;
    }

    .logo_formatada { 
        width: 200px;
    }

    .btn_formatado {
        background-color: #ff914d;
        padding: 10px 4em;
        margin-top: 1em;
        font-weight: 700;
        color: #FFF;
        font-size: 1em;
    }

    .btn_formatado_nao {
        padding: 10px 4em;
        margin-top: 1em;
        font-weight: 700;
        font-size: 1em;
    }

    .conteudo_botoes {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    .conteudo_subtitulo {
        width: 35%;
    }
}

@media (max-width: 510px) {
    .conteudo_subtitulo {
        width: 50%;
    }
}