.corpo_pagina {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabecalho {
    background-color: #ff914d;
    height: 15vh;
}

.conteudo {
    height: 70vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_formatada {
    width: 300px;
}

.btn_formatado {
    background-color: #ff914d;
    padding: 10px 2em;
    margin-top: 1em;
    font-weight: 800;
    color: #FFF;
    font-size: 1.2em;
}

.btn_formatado:hover {
    background-color: #ed752a;
    color: #FFF;
}

.rodape {
    background-color: #ff914d;
    height: 15vh;
}

@media (max-width: 992px) { 
    .rodape {
        display: none;
    }

    .logo_formatada { 
        width: 200px;
    }

    .btn_formatado {
        background-color: #ff914d;
        padding: 10px 4em;
        margin-top: 1em;
        font-weight: 700;
        color: #FFF;
        font-size: 1em;
    }
}