body {
  position: relative !important;
  height: 100vh;
}

body > .box-debug {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
body > .box-debug > #conteudoBoxDebug {
  max-height: 465px;
  overflow: auto;
}